/* COLORS */
$orange-default: #f36f21;


/* TOOLTIPS MENU */
.tooltip{
	.b-tooltip{
		opacity: 1;
	}
}
.tooltip-inner{
	background-color: $orange-default;
}
.bs-tooltip-bottom{
	.arrow{
		&:before{
			border-top-color: $orange-default;
			border-bottom-color: $orange-default;
		}
	}
}
.bs-tooltip-right{
	.arrow{
		&:before{
			border-right-color: $orange-default;
		}
	}
}

.bs-tooltip-top{
	.arrow{
		&:before{
			border-top-color: $orange-default;
		}
	}
}

.bs-tooltip-left{
	.arrow{
		&:before{
			border-left-color: $orange-default;
		}
	}
}